<ul class="topbar">
	<a href="/me"><li><u>A</u>bout</li></a>
	<a href="https://github.com/mikaji" target="_blank"><li><u>G</u>it<u>H</u>ub</li></a>
	<a href="http://twitter.com/mikaji_jp" target="_blank"><li><u>T</u>witter</li></a>
	<a href="https://facebook.com/mikajijp" target="_blank"><li><u>F</u>acebook</li></a>
	<a href="https://www.instagram.com/mikaji_jp/" target="_blank"><li><u>I</u>nstagram</li></a>
	<a href="https://qiita.com/mikaji" target="_blank"><li><u>Q</u>iita</li></a>
	<a href="https://speakerdeck.com/mikaji" target="_blank"><li><u>S</u>peaker<u>D</u>eck</li></a>
	<a href="https://www.pinterest.jp/mikaji_jp/" target="_blank"><li><u>P</u>interest</li></a>
	<a href="https://www.youtube.com/channel/UC0LMykAkhYzjDTsQLIxT-qA" target="_blank"><li><u>Y</u>ou<u>T</u>ube</li></a>
</ul>
